<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>

<body>
    <div>
       <h1>Joe WaPo Scraper</h1>
       <h3>Here's what's in the news right now..</h3>
       <button action="/scrape" method="GET">Click for News</button>
       <div id="article-grid-main"></div>
    </div>

    <% include ../partials/script %>

</body>

    
</html>